<div id="content">
      <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon" (click)="getBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    <h2>{{ name }}</h2>
    <div class="spinner" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngIf="!isLoading">
        <mat-card>
            <ul>
                <div><mat-icon class="icon-display">assignment_ind</mat-icon></div>
                <li>Birth date: <strong>{{ birthDate }}</strong></li>
                <li>Mass: <strong>{{ mass }}</strong></li>
                <li>Height: <strong>{{ height }}</strong></li>
                <li>Eye color: <strong>{{ eyeColor }}</strong></li>
                <li>Hair color: <strong>{{ hairColor }}</strong></li>
                <li>Skin color: <strong>{{ skinColor }}</strong></li>
                <li>
            </ul>
        </mat-card>       
        <mat-card>
            <ul>
                <div><mat-icon class="icon-display">place</mat-icon></div>
                <li>Homeworld: <strong>{{ homeWorldName}} </strong></li>
                <li>Population: <strong>{{ homeWorldPopulation }}</strong></li>
                <li>Orbital period: <strong>{{ homeWorldOrbit }}</strong></li>
                <li>Rotation period: <strong>{{ homeWorldRotation }}</strong></li>
            </ul>
        </mat-card>
        <mat-card>
            <div>
                <mat-icon class="icon-display">theaters</mat-icon>
            </div>
            <div>
                <strong>Films</strong>
            </div>
        </mat-card>
        <mat-card *ngFor="let item of films">
            <strong>{{ item.title }} ({{ item.release_date }}) - Episode {{ item.episode_id }} </strong>
            <p>{{ item.opening_crawl }}</p>
        </mat-card>
    </ng-container>
</div>