#content {
    .spinner {
        padding-top: 200px;
        display: flex;
        justify-content: center;
    }
    padding: 20px 25%;
    mat-card {
        margin-bottom: 10px;
    }
    .icon-display {
        transform: scale(2);
        margin-bottom: 20px;
     }
    ul {
        list-style: none;
        padding: 10px;
    }
}
@media only screen and (max-width: 900px) {
    #content{
        padding: 20px;
    }
}