#content {
    padding: 20px 25%;
    .spinner {
        padding-top: 200px;
        display: flex;
        justify-content: center;
    }
    .list mat-card:hover{
        cursor: pointer;
        background: #3f51b5;
        color: #fff;
    }
    .list mat-card{
        margin-bottom: 10px;
        .icon-display {
            transform: scale(2);
            margin-bottom: 20px;
        }
    }
}
@media only screen and (max-width: 800px) {
    #content{
        padding: 20px;
    }
}