<div id="content">
    <h2>People</h2>
    <div class="spinner" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div> 
    <ng-container *ngIf="!isLoading && !isError">
        <div class="list">
            <mat-card *ngFor="let item of people;" (click)="getDetail(item.index)">
                <div><mat-icon class="icon-display">face</mat-icon></div>
                <div><strong>{{ item.name }}</strong></div>
                <div>Birth year: {{ item.birth_year }}</div>
            </mat-card>
        </div> 
    </ng-container>   
    <ng-container *ngIf="isError">
        <mat-card>
            <div><strong>{{ errorMessage.error }}</strong></div>
            <div>{{ errorMessage.message }}</div>
            <div>
                <button mat-button color="primary" aria-label="" (click)="reloadComponent()">
                    Try again!
                </button>
            </div>
        </mat-card>
    </ng-container>
    <ng-container *ngIf="!isError">
        <mat-paginator [length]="length"
            [pageSize]="pageSize"
            (page)="changePage($event)"
            aria-label="Select page">
        </mat-paginator>
    </ng-container>
</div>
